<% if @convention_year.errors.any? %>
  <div>
    <h2><%= pluralize(@convention_year.errors.count, "error") %> prevented the convention year from being saved:</h2>
    <ul>
      <% @convention_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @convention_year do |f| %>
  <%= f.label(:convention_id, "Convention") %>
  <%= f.collection_select(:convention_id, Convention.all, :id, :name) %>
  <%= f.label(:year, "Year") %>
  <%= f.text_field(:year) %>
  <%= f.label(:location, "Location") %>
  <%= f.text_field(:location) %>
  <%= f.label(:start, "Start Date") %>
  <%= f.date_select(:start, order: [:month, :day, :year]) %>
  <%= f.label(:finish, "End Date") %>
  <%= f.date_select(:finish) %>
  <%= f.submit "Submit" %>

<% end %>
