<h2><%= @convention_year.convention.name %> <%= @convention_year.year %></h2>
<p>Starting <%= @convention_year.start %> and lasting <%= @convention_year.days %> days.</p>
<%= link_to "Edit", edit_convention_year_path(@convention_year) %>
