<h2><%= @convention_year.convention.name %> <%= @convention_year.start.year %></h2>
<p>Starting <%= @convention_year.start %> and ending <%= @convention_year.finish %>.</p>
<%= link_to "Edit", edit_convention_year_path(@convention_year) %>
