<% remote ||= false %>

<% if @convention.errors.any? %>
  <div>
    <h2><%= pluralize(@convention.errors.count, "error") %> prevented the convention from being saved:</h2>
    <ul>
      <% @convention.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if remote %>
  <h2 id="modalTitle">Add a new convention</h2>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
<% else %>
  <h2>Add a new convention</h2>
<% end %>

<%= form_for @convention, remote: remote do |f| %>
  <%= f.label(:name, "Name") %>
  <%= f.text_field :name %>
  <%= f.label(:description, "Description") %>
  <%= f.text_area :description %>
  <%= f.submit "Submit" %>
<% end %>
