<ul>
  <% @conventions.each do |convention| %>
    <li class="convention-list-item" id="<%= convention.id_safe_name %>">
      <div class="row">
        <div class="small-7 columns convention-info">
          <div>
            <img src="http://placehold.it/100x100" class="convention-logo" alt="<%= convention.name %>'s Logo">
          </div>
          <div class="convention-info">
            <%= link_to convention.name, convention_path(convention), title: convention.name %>
            <ul class="inline-list options">
              <li><%= link_to "Edit", edit_convention_path(convention), remote: true %></li>
            </ul>
          </div>
        </div>
        <div class="small-5 columns con-years">
          <% if convention.convention_years.empty? %>
            <%= link_to "Add a year", new_convention_year_path, remote: true %>
          <% else %>
            <ul class="inline-list">
              <% convention.convention_years.each do |year| %>
                <li><%= link_to year.year, convention_year_path(year), title: year %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <hr />
      </div>
    </li>
  <% end %>
</ul>
